body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #fffefe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #4b4b4b;
}

.logo img {
  width: 40px; 
  height: 50px; 
  margin-right: 10px;
  display: block;
}

.logo1 {
  margin-left: auto;
  font-weight: bold;
  color: #151414;
  cursor: pointer;
}

.menu1 {
  display: block;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  text-decoration: none;
  color: #1460e4;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a .icons {
  margin-right: 10px;
  font-size: 20px;
}

nav ul li a:hover {
  background-color: #1460e4;
  color: #fff;
}

.logout {
  color: #151414;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.logout:hover {
  background-color: #f8d7da;
  color: #080808;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 200px;
}

.top-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid #fffefe;
  padding-bottom: 10px;
  position: fixed;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
  width: 80%; 
  background-color: #f9f9f9; 
  z-index: 1000; 
  padding: 0 20px;
  height: px; 
 
}

.summary {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  flex: 1;
  height: 100%; 
  width: 100%; 
}




.export-data {
  margin-left: auto; 
}

.summary h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.export-data button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.export-data button:hover {
  background-color: #0056b3;
}

.calendar {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
}

.calendar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-navigation button {
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
}

.calendar-dates div {
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.calendar-dates div:hover {
  background-color: #007bff;
  color: #fff;
}

.calendar-dates .today {
  background-color: #007bff;
  color: #fff;
}



.fixed-calendar {
  position: fixed;
  top: 60px;
  right: 10px;
  width: 200px;
  background-color: #fff;
}

.icons {
  font-size: 10px;
}

.icon-a {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: #000000;
}

.icon-a:hover {
  background-color: #336ea1;
  color: #fff;
}