body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
 align-items: flex-start;
 width: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar {
  width: 200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateX(0);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.sidebar.hidden {
  transform: translateX(-200px);
}


.logo-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #4b4b4b;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-weight: bold;
  color: #151414;
  cursor: pointer;
  z-index: 1000;

}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 15px 0;
}

nav ul li a {
  text-decoration: none;
  color: #151515;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a .icons {
  margin-right: 10px;
  font-size: 20px;
}

nav ul li a:hover {
  background-color: #1460e4;
  color: #fff;
}

.logout {
  color: #151414;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.logout:hover {
  background-color: #f8d7da;
  color: #080808;
}


.top-bar {
  display: flex;
  width: calc(100% - 200px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  transition: margin-left 0.3s ease;


}

.top-bar .summary {
  margin-right: 20px;
}

.top-bar .export-data {
  display: flex;
  align-items: center;
  margin-left: auto;
}


.summary h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.export-data button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.export-data button:hover {
  background-color: #0056b3;
}
.fixed-calendar {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  height: calc(100vh - 40px);
  margin-left: 200px;
  transition: margin-left 0.3s ease;

}

.fixed-calendar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
 
}

.calendar-navigation button {
  padding: 5px;
  cursor: pointer;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
}

.calendar-dates div {
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.calendar-dates div:hover {
  background-color: #007bff;
  color: #fff;
}

.calendar-dates .today {
  background-color: #007bff;
  color: #fff;
}